.InputWrapper {
  display: flex;
  flex-direction: column;
}

.input {
  background: transparent;
  outline: none;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  width: 100%;
  padding: 10px 5px;
  font: var(--input-font-size);
}

.readonly {
  opacity: 0.7;
}

.max {
  width: 100%;
}
